<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title} | Movie App
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="http://davidstutz.de/bootstrap-multiselect/dist/css/bootstrap-multiselect.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        block header
        include ./partials/_header.pug

    block messages
    if locals.flashes
        .container
            - const categories = Object.keys(locals.flashes)
            each category in categories
                each message in flashes[category]
                    .alert(class=`alert-${category==='error' ? 'danger' : category}`).alert-dismissible
                        a.close(href='#', data-dismiss='alert', aria-label='close') ×
                        strong #{category.toUpperCase()}! 
                        | #{message}

    block content

    block footer

    block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="http://davidstutz.de/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")
        script(type='text/javascript').
            $(document).ready(function() {
                $('#example-getting-started').multiselect({
                    includeSelectAllOption: true,
                    enableFiltering: true
                });
            });